@import url(https://fonts.google.com/specimen/Rubik);
:root {
    --primary-color: #E2DBBE;
    --secondary-color: #9DBBAE;
    --accent1-color: #D5D6AA;
    --accent2-color: #769FB6;

    --heading-fonts: 'Rubik', serif;
    --paragraph-font: 'Rubik', serif;
    
    --nav-background-color: #D5D6AA;
    --nav-link-color: #9DBBAE;
    --nav-hover-link-color: #9DBBAE;
    --nav-hover-background-color: #769FB6;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E2DBBE;
}
header {
    padding: 20px;
    background-color: #D5D6AA;
}
p {
    padding: 25px;
}
nav {
    background-color: #D5D6AA;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color)
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}